body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:56px;
}
#u822 {
  position:absolute;
  left:42px;
  top:61px;
  width:503px;
  height:56px;
}
#u823 {
  position:absolute;
  left:2px;
  top:20px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u824 {
  position:absolute;
  left:67px;
  top:77px;
  width:49px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u826 {
  position:absolute;
  left:181px;
  top:77px;
  width:49px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E78B8;
  text-align:left;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u828 {
  position:absolute;
  left:281px;
  top:77px;
  width:75px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E78B8;
  text-align:left;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u830 {
  position:absolute;
  left:366px;
  top:197px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#424242;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u832 {
  position:absolute;
  left:369px;
  top:290px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#424242;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u834 {
  position:absolute;
  left:370px;
  top:377px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#424242;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u836 {
  position:absolute;
  left:369px;
  top:461px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#424242;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:18px;
}
#u838 {
  position:absolute;
  left:370px;
  top:554px;
  width:220px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#424242;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u841 {
  position:absolute;
  left:50px;
  top:144px;
  width:151px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E78B8;
  text-align:left;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u843 {
  position:absolute;
  left:195px;
  top:144px;
  width:151px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E78B8;
  text-align:left;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u845 {
  position:absolute;
  left:382px;
  top:144px;
  width:151px;
  height:17px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:366px;
  top:232px;
  width:50px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u850 {
  position:absolute;
  left:430px;
  top:231px;
  width:67px;
  height:26px;
}
#u851 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:12px;
}
#u852 {
  position:absolute;
  left:440px;
  top:237px;
  width:47px;
  height:12px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u854 {
  position:absolute;
  left:368px;
  top:323px;
  width:50px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u857 {
  position:absolute;
  left:430px;
  top:321px;
  width:67px;
  height:26px;
}
#u858 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:12px;
}
#u859 {
  position:absolute;
  left:440px;
  top:327px;
  width:47px;
  height:12px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u861 {
  position:absolute;
  left:368px;
  top:409px;
  width:50px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u864 {
  position:absolute;
  left:429px;
  top:407px;
  width:81px;
  height:26px;
}
#u865 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:12px;
}
#u866 {
  position:absolute;
  left:439px;
  top:413px;
  width:63px;
  height:12px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:507px;
  top:234px;
  width:104px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u870 {
  position:absolute;
  left:619px;
  top:228px;
  width:26px;
  height:28px;
}
#u871 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u872 {
  position:absolute;
  left:509px;
  top:322px;
  width:138px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u874 {
  position:absolute;
  left:654px;
  top:315px;
  width:29px;
  height:32px;
}
#u875 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u876 {
  position:absolute;
  left:370px;
  top:495px;
  width:104px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u879 {
  position:absolute;
  left:485px;
  top:492px;
  width:67px;
  height:26px;
}
#u880 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:12px;
}
#u881 {
  position:absolute;
  left:495px;
  top:498px;
  width:47px;
  height:12px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  position:absolute;
  left:562px;
  top:495px;
  width:104px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u885 {
  position:absolute;
  left:674px;
  top:489px;
  width:26px;
  height:28px;
}
#u886 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u887 {
  position:absolute;
  left:370px;
  top:585px;
  width:101px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u890 {
  position:absolute;
  left:491px;
  top:580px;
  width:67px;
  height:26px;
}
#u891 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:12px;
}
#u892 {
  position:absolute;
  left:501px;
  top:586px;
  width:47px;
  height:12px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:568px;
  top:583px;
  width:104px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u896 {
  position:absolute;
  left:680px;
  top:577px;
  width:26px;
  height:28px;
}
#u897 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:515px;
}
#u899 {
  position:absolute;
  left:42px;
  top:195px;
  width:298px;
  height:515px;
}
#u900 {
  position:absolute;
  left:2px;
  top:250px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:89px;
}
#u901 {
  position:absolute;
  left:42px;
  top:315px;
  width:298px;
  height:89px;
}
#u902 {
  position:absolute;
  left:2px;
  top:36px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:5px;
}
#u903 {
  position:absolute;
  left:42px;
  top:305px;
  width:298px;
  height:5px;
}
#u904 {
  position:absolute;
  left:2px;
  top:-6px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
}
#u905 {
  position:absolute;
  left:69px;
  top:335px;
  width:220px;
  height:56px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  text-align:left;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:65px;
}
#u907 {
  position:absolute;
  left:70px;
  top:218px;
  width:226px;
  height:65px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:5px;
}
#u909 {
  position:absolute;
  left:42px;
  top:408px;
  width:298px;
  height:5px;
}
#u910 {
  position:absolute;
  left:2px;
  top:-6px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:213px;
}
#u912 {
  position:absolute;
  left:42px;
  top:405px;
  width:303px;
  height:213px;
}
#u913 {
  position:absolute;
  left:2px;
  top:98px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:130px;
}
#u914 {
  position:absolute;
  left:76px;
  top:424px;
  width:210px;
  height:130px;
  font-family:'Helvetica';
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u916 {
  position:absolute;
  left:73px;
  top:649px;
  width:220px;
  height:39px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  text-align:left;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:5px;
}
#u918 {
  position:absolute;
  left:42px;
  top:628px;
  width:298px;
  height:5px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:43px;
}
#u921 {
  position:absolute;
  left:538px;
  top:126px;
  width:228px;
  height:43px;
}
#u922 {
  position:absolute;
  left:2px;
  top:14px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:19px;
}
#u923 {
  position:absolute;
  left:554px;
  top:138px;
  width:212px;
  height:19px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u925 {
  position:absolute;
  left:715px;
  top:141px;
  width:30px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Webdings';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
